<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Beep Master</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src="app/app.module.js"></script>
    <script src="app/components/notes/notes.factory.js"></script>
    <script src="app/components/notes/notes.controller.js"></script>
</head>

<body ng-app="beep-master" ng-controller="NotesController as ctrl">
    <div class="w3-container">
        <div class="">
            <button class="w3-button w3-border w3-col s1" ng-repeat="pitch in ctrl.pitches" ng-click="ctrl.add($index)">{{ pitch.name }}</button>
        </div>
        <br>
        <div class="w3-bar">
            <button class="w3-button w3-border w3-col s1" ng-click="ctrl.clear()">Clear</button>
            <div class="w3-right"><label for="tempo">Tempo: </label><input class="w3-border" type="number" id="tempo" ng-model="ctrl.tempo"></div>
        </div>
        <br>
        <div class="w3-light-grey w3-card-2" style="height:500px;">
            <div class="w3-row" ng-repeat="note in ctrl.notes">
                <span class="w3-col s3">ID: {{$index}}</span>
                <span class="w3-col s1">{{ note.name }}</span>
                <div class="w3-col s1">
                    <span class="fa fa-caret-down" ng-if="note.index != 0" ng-click="ctrl.shiftPitch(1, note)"></span>
                    <span ng-if="note.index != 0 && note.index != 107" >/</span>
                    <span class="fa fa-caret-up" ng-if="note.index != 107" ng-click="ctrl.shiftPitch(-1, note)"></span>
                </div>
                <div class="w3-col s6">
                    <span>Duration: </span><input type="number" step=".25" ng-model="note.duration">
                </div>
                <span class="w3-col s1 fa fa-close"></span>
                <div class="w3-col s1">
                    <span class="fa fa-caret-down" ng-if="!$last" ng-click="ctrl.shiftPosition(1, $index)"></span>
                    <span ng-if="!$first && !$last">/</span>
                    <span class="fa fa-caret-up" ng-if="!$first" ng-click="ctrl.shiftPosition(-1, $index)"></span>
                </div>
            </div>
        </div>
        <br>
        <div class="w3-container w3-card-2">
            <p>beep
                <span ng-repeat="n in ctrl.notes">
                    <span>-f {{n.freq}} -l {{ n.duration * (60000 / ctrl.tempo)}} -D 100<span ng-if="!$last"> -n</span></span>
                </span>
            </p>
        </div>
    </div>
</body>

</html>
