.keyboard {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    height: 30px;
}

.key {
    width: 25px;
    height: 80px;
    padding: 0px;
    position: relative;
    
}

.white {
    background-color: #EEEEEE;
    width: 30px!important;
    z-index: 1;
    padding-top: 50px;
}

.black {
    background-color: #333333;
    vertical-align: top;
    color: #FFFFFF;
    height: 50px;
    margin: -12px;
    margin-top: 0px;
    z-index: 1000;
}

.black > .keylabel {
    visibility: hidden;
}

.white > .keylabel {
}